.services {
    width: 100%;
    padding: 70px 8% 60px;

    background: #ffffff;
    color: #000000;
}



.services-header {
    text-align: center;
    margin-bottom: 60px;
}

.services-header h2 {
    margin: 0 0 18px;

    font-size: 40px;
    font-weight: 400;
}

.services-line {
    width: 190px;
    height: 8px;

    margin: 0 auto;

    background: #000000;
}


/* CONTENEUR DES CARTES */

.services-grid {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 220px);

    justify-content: space-between;

    gap: 60px 40px;

    perspective: 1000px;
}


/* CARTE */

.service-card {
    width: 338px;
    height: 265px;

    overflow: hidden;

    background: #484848;
    border-radius: 15px;

    cursor: pointer;

    transform-style: preserve-3d;

    transform:
        perspective(700px)
        rotateX(0deg)
        rotateY(0deg);

    transition:
        transform 0.12s ease-out,
        box-shadow 0.2s ease;
}


/* PETITE OMBRE AU SURVOL */

.service-card:hover {
    box-shadow:
        0 10px 25px
        rgba(0, 0, 0, 0.12);
}


/* IMAGE */

.service-image {
    width: 100%;
    height: 222px;

    overflow: hidden;
}

.service-image img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;

    pointer-events: none;
}


/* TEXTE EN BAS */

.service-info {
    height: 33px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 17px;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.service-title {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}

.service-version {
    color: #bdbdbd;
    font-size: 11px;
    font-weight: 400;
}

/* BOUTON ITCH.IO */

.itch-button {
    display: block;

    width: fit-content;

    margin: 45px auto 0;

    padding: 12px 27px;

    background: #363636;
    color: #ffffff;

    border-radius: 15px;

    text-decoration: none;

    font-size: 16px;
    font-weight: 400;

    transition:
        background 0.25s ease,
        transform 0.25s ease;
}

.itch-button:hover {
    background: #000000;

    transform: scale(0.97);
}


/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 900px) {

    .services-grid {
        grid-template-columns: repeat(2, 220px);

        justify-content: center;
    }

}

@media (max-width: 550px) {

    .services {
        padding-left: 20px;
        padding-right: 95px;
    }

    .services-grid {
        grid-template-columns: 220px;
    }

    .services-header h2 {
        font-size: 34px;
    }

}